@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.bg-blue {
  background-color: #1d2951;
}

.text-blue {
  color: #384e96;
}

.login,
.register,
.bg-grad {
  /* background-image:linear-gradient(#1d2951, #aeb6cf, #1d2951); */
  background-color: #1d2951;
}

.bg-blue-gradient {
  /* background-image: linear-gradient(#aeb6cf, #aeb6cf, #1d2951); */
  background-color: #e4e2e2;
}

.logout {
  text-decoration: none;
  padding: 5px;
  color: white;
}

.logout:hover {
  padding: 5px;
  border-radius: 5px;
  background-color: #384e96;
  color: white;
}

.page_title h3 {
  font-size: 2rem;
  text-align: center;
  color: #1d2951;
}

.title h3 {
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.login_field {
  padding-bottom: 1rem;
}

.login_field label {
  font-size: 1rem;
  color: #1d2951;
}

.forget_pw {
  text-align: right;
}

.buttons {
  padding-top: 1rem;
}

.btns {
  background: #1d2951;
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
}

.btns:hover {
  background: #3b4570;
  color: white;
}

.btns_white {
  background: #fff;
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  color: #1d2951;
}

.login_body a {
  color: blue;
}
/* alert */
.alert_msg {
  position: fixed;
  top: 3rem;
  right: 0;
  height: 1rem;
}

.blue-btn {
  background-color: #1d2951;
  padding: 0.4rem 1rem;
  color: #f3f3f3;
  border: none;
  border-radius: 10px;
}

.blue-btn:hover {
  box-shadow: 0 3px 10px rgba(136, 46, 46, 0.2);
  background: #384e96;
}

.table-responsive {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}

th,
td {
  border: 1px solid #585858a6;
  padding: 8px;
}

table tr,
table th,
table td {
  background-color: white;
  text-align: center;
  padding: 1rem;
}

table th {
  background-color: #1d2951;
  color: white;
  white-space: nowrap;
}

tr:nth-child(even) {
  background: #ebebeb;
}

.product .card-title_ {
  color: #1d2951;
}

.products_detail a {
  text-decoration: none;
  color: #1a313a;
}

.products_card_icons {
  display: flex;
  justify-content: space-around;
}

#table-filter {
  float: right;
}

form .custom-input {
  border: 1px solid #ced4da;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.large-fs{
  font-size: 3rem;
}

.banner_img{
  height: 25rem;
  width: 30rem;
}

.feature{
  height: 2rem;
}

@media screen and (max-width: 1400px) and (min-width:992px){
  .feature{
    height: 3rem;
  }
}

@media screen and (max-width: 767px) and (min-width:558px){
  .feature{
    height: 3rem;
  }
}

@media screen and (max-width: 480px){
  .banner_img{
    height: 15rem;
    width: 20rem;
  }
}
