{% extends "base.html" %} {% block title %} Order Forecasting System {% endblock %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />

<style></style>
<header>
  <div>{% include 'components/navbar.html' %}</div>
</header>

<div class="bg-grad p-5 text-white appname text-center">
  <div class="container">
    <div class="row py-5">

        <div class="col-lg-6 ">
            <div>
              <img
                src="{% static 'banner.jpg' %}"
                alt="Banner"
                class="banner_img rounded"
              />
            </div>
          </div>
  
      <div class="col-lg-6 px-lg-5 px-0 pt-lg-0 pt-5">
        <div class="large-fs text-center">
          About Us
        </div>

        <div  class="pt-5">
            Welcome to our Order Forecasting Application, where precision meets efficiency. At OFS, we specialize in providing businesses with reliable order predictions, helping them optimize inventory management and streamline operations. Our intuitive platform, powered by advanced forecasting algorithms, ensures accurate insights, allowing businesses to make informed decisions and stay ahead in the dynamic world of commerce. Join us in transforming the way you manage orders and experience the benefits of proactive and data-driven decision-making with OFS.
        </div>

      
      </div>

      
     
    </div>
  </div>
</div>
<div class="container">
  <div>
    <div class="py-5">
      <div class="fs-1 text-blue fw-light">Our Mission</div>
      <div class="pt-5">
        <p class="text-blue">At Order Forecasting System, we are dedicated to providing cutting-edge forecasting solutions tailored to the unique needs of your business. Our mission is to empower organizations with accurate predictions, enabling them to streamline operations and stay ahead in a dynamic market.</p>
      </div>
    </div>

    <div class="pb-5">
        <div class="fs-1 text-blue fw-light">Our Feature</div>
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-12 pt-5">
            <div class="card" style="border: 1px solid #1d2951">
              <div class="card-body text-center">
                <div
                  class="d-block align-items-center justify-content-start text-blue"
                >
                  <div class="fs-1 pe-2">
                    <i class="fa-regular fa-chart-bar"></i>
                  </div>
                  <div class="fs-5 feature">Predict Order For You</div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-sm-6 col-12 pt-5">
            <div class="card" style="border: 1px solid #1d2951">
              <div class="card-body text-center">
                <div
                  class="d-block align-items-center justify-content-start text-blue"
                >
                  <div class="fs-1"><i class="fa-solid fa-gears"></i></div>
                  <div class="fs-5 feature">Optimize Your Inventory</div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-sm-6 col-12 pt-5">
            <div class="card" style="border: 1px solid #1d2951">
              <div class="card-body text-center">
                <div
                  class="d-block align-items-center justify-content-start text-blue"
                >
                  <div class="fs-1"><i class="fa-solid fa-chart-line"></i></div>
                  <div class="fs-5 feature">Visualize Your Data</div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-sm-6 col-12 pt-5">
            <div class="card" style="border: 1px solid #1d2951">
              <div class="card-body text-center">
                <div
                  class="d-block align-items-center justify-content-start text-blue"
                >
                  <div class="fs-1"><i class="fa-solid fa-user-group"></i></div>
                  <div class="fs-5 feature">User Friendly Interface</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

{% load static %} {% endblock content%}
