{%extends "base.html" %}

{% block title %} Category {% endblock %}
{% block content %}
{% load static %}
<nav>
    {%include "components/navbar.html" %}
</nav>
<div>
    {%include "components/sidebar.html" %}
</div>
<script>
  // Hide messages after 10 seconds
  setTimeout(function() {
      var messagesContainer = document.querySelector('.messages');
      if (messagesContainer) {
          messagesContainer.style.display = 'none';
      }
  }, 10000); // 10 seconds
</script>

    <div class="d-block" id="main">
    <div class=" container pt-3" >
     
      <hr>
      <div class="d-md-flex d-block pt-3 justify-content-between">
        <div>
          {%include "components/search.html" %}
            <!-- { % include "components/search.html" % } -->
          </div>
        {% if user.userrole == 'admin' %}
          <div class="text-end pt-md-0 pt-5">
            <button class="blue-btn" data-bs-toggle="modal" data-bs-target="#add_category" data-bs-whatever="add_category">Add New Category</button>
          </div>
        {% endif %}
      </div>
      
    <div class="row pt-3">
      <div class="col-12">
        <div  class="table-responsive" >
          <table id="category-table" >
            <!-- <thead> -->
              <tr>
                <th >#</th>
                <th >Category Id</th>
                <th >Category</th>
                {% if user.userrole == 'admin' %}
                  <th >Actions</th>
                {% endif %}
              </tr>
            <!-- </thead> -->
              {% for category in categories %}
                <tr>
                    <td >{{ forloop.counter }}</td>
                    <td>{{ category.id }}</td>
                    <td>{{ category.category }}</td>
                    {% if user.userrole == 'admin' %}
                      <td>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#edit_category" data-bs-whatever="edit_category" data-category-id="{{ category.id }}" data-category-name="{{ category.category }}">
                          <i class="fa-solid fa-pen-to-square pe-2 me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
                        </a>
                      </td>
                    {% endif %}
                </tr>
                {% endfor %}
          </table>
        </div>
          
  
          
      </div>
      
    </div>
    {%include "components/pagination.html"  with data=categories %}
      
    <div class="modal fade " id="add_category" tabindex="-1" aria-labelledby="add_category" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'addCategory' %}">
              {% csrf_token %}
  
              <div class="mb-3">
                  <label for="category" class="col-form-label">Category:</label>
                  <input type="text" class="form-control" name="category" id="category" required>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  
    <div class="modal fade " id="edit_category" tabindex="-1" aria-labelledby="edit_category" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'editCategory' %}">
              {% csrf_token %}
              
              <input type="hidden" name="category_id" id="category_id">
  
              <div class="mb-3">
                <label for="old_category_name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" name="old_category_name" id="old_category_name" required>
              </div>
              
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <script>
  function filterCategories() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("table-filter");
    filter = input.value.toUpperCase();
    table = document.getElementsByTagName("table")[0];
    tr = table.getElementsByTagName("tr");
  
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2]; // Assuming category name is in the third column (index 2)
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script> -->
  <script>

console.log("Document is ready"); // Check if document is ready

// Verify jQuery is loaded
if (typeof jQuery !== 'undefined') {
    console.log("jQuery is loaded");
} else {
    console.error("jQuery is not loaded");
}

$(document).ready(function() {
        // Perform search when the search button is clicked
        $('#search-button').click(function() {
            searchCategories();
        });

        // Perform search when Enter key is pressed in the search input
        $('#table-filter').keypress(function(event) {
            if (event.keyCode === 13) {
                searchCategories();
            }
        });

        // Function to perform AJAX search and update the category table
        function searchCategories() {
            var searchQuery = $('#table-filter').val();
            $.ajax({
                url: '{% url "category" %}',
                type: 'GET',
                data: { q: searchQuery },
                success: function(response) {
                    $('#category-table tbody').html($(response).find('tbody').html());
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }
    });
  </script>

<script src="{% static 'script.js' %}"></script>

{% load static %}
{% endblock %}