{%extends "base.html" %}

{% block title %} Dashboard {% endblock %}
{% block content %}
<nav>
    {%include "components/navbar.html" %}
</nav>
<div>
    {%include "components/sidebar.html" %}
</div>


<div class="container pt-3">
   

    <div class="text-end pt-3">
        <button class="blue-btn" data-bs-toggle="modal" data-bs-target="#add_category" data-bs-whatever="add_category">Add New Category</button>
    </div>
    <hr>
    
   <div class="row pt-3">
    <div class="col-12">
        <table>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Category Id</th>
                <th scope="col">Category</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              {% for category in categories %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>{{ category.category_id }}</td>
                    <td>{{ category.category }}</td>
                    <td>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#edit_category" data-bs-whatever="edit_category" data-category-name="{{ category.category }}">
                            <i class="fa-solid fa-pen-to-square pe-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>

    </div>
    
   </div>
    
   <div class="modal fade " id="add_category" tabindex="-1" aria-labelledby="add_category" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'addCategory' %}">
            {% csrf_token %}

            <div class="mb-3">
                <label for="category" class="col-form-label">Category:</label>
                <input type="text" class="form-control" name="category" id="category">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add Category</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade " id="edit_category" tabindex="-1" aria-labelledby="edit_category" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'editCategory' %}">
            <div class="mb-3">
              <label for="old_category_name" class="col-form-label">Current:</label>
              <input type="text" class="form-control" id="old_category_name" disabled>
            </div>

            <div class="mb-3">
                <label for="new_category_name" class="col-form-label">Category name:</label>
                <input type="text" class="form-control" id="new_category_name">
              </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Edit Category</button>
        </div>
      </div>
    </div>
  </div>
</div>






{% endblock %}