{%extends "base.html" %} {% block title %} Category {% endblock %} 
{% block content %}
<nav>{%include "components/navbar.html" %}</nav>
<div>{%include "components/sidebar.html" %}</div>

<div class="container pt-3">
  <hr />
  <div class="row">
    <div class="col-xl-4 col-md-6 col-sm-8 col-12 mx-auto mx-auto pt-5">
      <div class="card bg-blue">
        <div class="card-body">
          <div class="title">
            <h3>Change Password</h3>
            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}
            <div class="pb-3 text-white">
              Hello, {{user.first_name}} {{user.last_name}}.
            </div>
            <form method="post" action="{% url 'changepassword' %}">
              {% csrf_token %}

              <div class="pb-3 login_field">
                <label for="edit_old_pass" class="form-label text-white"
                  >Old Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  name="edit_old_pass"
                  id="edit_old_pass"
                />
              </div>

              <div class="pb-3 login_field">
                <label for="edit_new_pass" class="form-label text-white"
                  >New Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  name="edit_new_pass"
                  id="edit_new_pass"
                />
              </div>

              <div class="pb-3 login_field">
                <label for="edit_confirm_pass" class="form-label text-white"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  name="edit_confirm_pass"
                  id="edit_confirm_pass"
                />
              </div>

              <div class="buttons">
                <button type="submit" class="btns_white">
                  Change Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% load static %} {% endblock %}
