{% extends "base.html" %} {% block title %}Forget Password{% endblock %} 
{% block content %}

<header>
  <div>{% include 'components/navbar.html' %}</div>
</header>

<div class="bg-grad vh-100">
  <div class="login_body">
    <div class="container">
      <!-- <form method="post" action="{% url 'login' %}"> -->

      <div class="row">
        <div
          class="col-xl-4 col-md-6 col-12 mx-auto"
          style="padding-top: 20rem"
        >
          <div class="card" style="border: none">
            <div class="card-body">
              <div class="page_title">
                <h3>Forgot Password</h3>
              </div>
              {% if error %}
                                    <p class="error-message">{{ error }}</p>
                                {% endif %}

              <!-- {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <li>
                  {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{
                  message }}
                </li>
                {% endfor %}
              </ul>
              {% endif %}  -->
              {% if otp_verified %}
              <p style="color: rgb(49, 168, 79)">
                OTP verified successfully. You can reset your password now.
              </p>
              <form method="post" action="{% url 'reset_password' %}">
                {% csrf_token %}
                <div class="pb-3">
                  <label for="new_password" class="form-label login_label"
                    >New Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    name="new_password"
                    id="new_password"
                    required
                  />
                </div>
                <div class="pb-3">
                  <label for="confirm_password" class="form-label login_label"
                    >Confirm Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    name="confirm_password"
                    id="confirm_password"
                    required
                  />
                </div>
                <input type="hidden" name="email" value="{{ email }}" />
                <div class="buttons">
                  <button type="submit" class="btns">Reset Password</button>
                </div>
              </form>
              {% else %} {% if not otp_sent %}
              <form method="post" action="{% url 'send_otp' %}">
                {% csrf_token %}
                <div class="pb-3">
                  <label for="email_verify" class="form-label login_label"
                    >Email</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email_verify"
                    required
                  />
                </div>
                <div class="buttons">
                  <button type="submit" class="btns">Send OTP</button>
                </div>
              </form>
              {% else %}
              <form method="post" action="{% url 'verify_otp' %}">
                {% csrf_token %}
                <div class="pb-3">
                  <label
                    for="otp"
                    style="color: rgb(49, 168, 79)"
                    class="form-label login_label"
                    >OTP sent to {{ email }}</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="otp"
                    id="otp"
                    required
                  />
                </div>
                <input type="hidden" name="email" value="{{ email }}" />
                <div class="buttons">
                  <button type="submit" class="btns">Verify OTP</button>
                </div>
              </form>
              {% endif %} {% endif %}
              <hr />
              <div class="text-center">
                <span class="text-muted">Don't have an account?</span>
                <a href="{% url 'register' %}" style="text-decoration: none"
                  >Register</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
