{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

<style>

</style>
<header>
  <div>
      {% include 'components/navbar.html' %}

  </div>
 
</header>

<div class="bg-grad p-5 text-white appname text-center" >
    <div class="" >
        <div class="fs-1  text-center py-2 ">
            Your Orders Anticipated, Our System Innovated
    
        </div>
        <div class=" fs-1 text-center py-2 ">
            Order Forecasting System        
        </div>
    
        <div class="py-2 text-center">
            <a href="" class="px-4 py-2 bg-white rounded text-blue">Learn More <span><i class="fa-solid fa-arrow-right ps-2"></i></span></a>
            
        </div>
    </div>
   

</div>
{% endblock content%}