{% extends "base.html" %}

{% block title %} Inventory {% endblock %}
{% block content %}
<nav>
    {% include "components/navbar.html" %}
</nav>
<div>
    {% include "components/sidebar.html" %}
</div>
<div class="d-flex" id="main">

<div class="container pt-3">

    <hr>
    <div class="d-md-flex d-block pt-3 justify-content-between">
        <div >
            <input type="text" class="form-control" id="table-filter" placeholder="Search...">
        </div>
        <!-- <div class="text-end pt-md-0 pt-5">
            <button class="blue-btn" data-bs-toggle="modal" data-bs-target="#add_items" data-bs-whatever="add_items">Add New Items</button>
        </div> -->
    </div>
    <div class="row pt-3">
        {% for category in categories %}

        <div class="col-lg-3 col-md-4 col-sm-6 pt-2" >
            <div class="card bg-blue-gradient text-blue fs-5">
                <div class="card-body">
                    <div>
                        
                        {{ category.category }}
                    </div>
                    <div>
                        <!-- Total Product : 12 -->
                        Total Product : {{ category.total_products }}

                    </div>
                    <hr>
                    <div class="text-end">
                        <a href="{% url 'inventorylist' category_name=category.category %}">
                            <button class="btns">View Products <span><i class="fa-solid fa-arrow-right"></i></span></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}

   
    </div>
</div>
</div>

{% load static %}
{% endblock %}
