{% extends "base.html" %} {% block title %} Orders {% endblock %} {% block content %} {% load static %}



<nav>{% include "components/navbar.html" %}</nav>
<div>{% include "components/sidebar.html" %}</div>

<div class="d-flex" id="main">

 
<div class=" container pt-3">
  <hr />
  <div class="d-md-flex d-block pt-3 justify-content-between">
    {%include "components/search.html" %}
    <div class="d-flex align-items-center justify-content-end w-100">
      <div class="pt-md-0 pt-3">
        <button
          class="blue-btn"
          data-bs-toggle="modal"
          data-bs-target="#add_order"
          data-bs-whatever="add_order"
        >
          Add New Order
        </button>
      </div>
      <div class="ps-3 pt-md-0 pt-3">
        <button class="blue-btn" data-bs-toggle="collapse" data-bs-target="#filterform" aria-expanded="false" aria-controls="filterform"><i class="fa-solid fa-filter"></i></button>
      </div>
    </div>
  </div>

  <div>{% include "components/filter.html" %}</div>


  <div class="row pt-3">
    <div class="col-12">
      <div class="table-responsive">
        <table id="order-table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Order Id</th>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Ordered Date</th>
              <th scope="col">Delivery Date</th>

              <th scope="col">Price</th>
              <th scope="col">Total Price</th>

              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
                <td data-label="#" scope="row">{{ forloop.counter }}</td>
                <td data-label="Order Id">{{ order.order_id }}</td>
                <td data-label="Product">{{ order.product.product_name }}</td>
                <td data-label="Quantity">{{ order.quantity }}</td>
                <td data-label="Ordered Date">{{ order.ordered_date }}</td>
                <td data-label="Delivery Date">{{ order.delivery_date }}</td>

                <td data-label="Price">{{ order.price }}</td>
                <td data-label="Total  Price">{{ order.total_price }}</td>

                <td {% if order.status == 'Pending' %}class="bg-danger"{% endif %} data-label="Status">{{ order.status }}</td>
                <td data-label="Actions">
                  <div class="d-flex justify-content-center align-items-center">
                    <div>
                      <a
                        href=""
                        data-bs-toggle="modal"
                        data-bs-target="#edit_order"
                        data-bs-whatever="edit_order"
                        data-order-id="{{ order.order_id }}"
                        data-product-name="{{ order.product_name }}"
                        data-order-quantity ="{{ order.quantity }}"
                        data-ordered-date ="{{ order.ordered_date }}"
                        data-order-price ="{{ order.price }}"
                        data-delivery-date="{{ order.delivery_date }}"
                        data-order-status="{{ order.status }}"
                        ><i
                          class="fa-solid fa-pen-to-square pe-2"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Edit"
                        ></i
                      ></a>
                    </div>
                    <div>
                   
                        <input
                          type="hidden"
                          name="order_id"
                          value="{{ order.order_id }}"
                        />
                        
                    <button
                        style="border: none; background-color: transparent; margin-left: 10px;"
                        type="button"
                        class="text-danger delete-button"
                        data-bs-toggle="modal"
                        data-bs-target="#delete_Order"
                        data-bs-whatever="delete_Order"
                        data-order-id="{{ order.order_id }}"
                        data-product-name="{{ order.product_name }}"
                        data-order-quantity="{{ order.quantity }}"
                        data-ordered-date="{{ order.ordered_date }}"
                        data-order-price="{{ order.price }}"
                        data-delivery-date="{{ order.delivery_date }}"
                        data-ordered-date="{{ order.ordered_date }}"
                        data-order-status="{{ order.status }}"
                        onclick="prepareDeleteOrderForm('{{ order.order_id }}')"
                      >
                        <i class="fa-solid fa-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
                      </button>

                      <!-- </form> -->
                    </div>
                  </div>
                </td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {%include "components/pagination.html"  with data=orders %}
</div>


{% include 'components/orderAdd.html' %}
{% include 'components/orderEdit.html' %}
{% include 'components/orderDelete.html' %}
{% include 'components/orderCompletedModal.html' %}

</div>


<script>

function searchOrders() {
    var searchQuery = $('#table-filter').val();
    $.ajax({
        url: '{% url "orders" %}',
        type: 'GET',
        data: { q: searchQuery },
        success: function(response) {
            $('#order-table tbody').html($(response).find('tbody').html());
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
}

$(document).ready(function() {
    // Perform search when the search button is clicked
    $('#search-button').click(function() {
        searchOrders();
    });

    // Perform search when Enter key is pressed in the search input
    $('#table-filter').keypress(function(event) {
        if (event.keyCode === 13) {
          
            searchOrders();
        }
    });
});


function prepareDeleteOrderForm(orderId) {
  document.getElementById("deleteOrderId").value = orderId;

  document.getElementById("deleteOrderForm").action = "{% url 'delete_order' 0 %}".replace('0', orderId);
}


function deleteOrder() {
  var orderId = document.getElementById('deleteOrderId').value;

  console.log("Order ID to delete:", orderId);

  fetch(`/delete_order/${orderId}/`, {
  method: 'POST',
  headers: {
    'Content-Type': 'application/x-www-form-urlencoded',
    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
  },
  body: 'order_id=' + encodeURIComponent(orderId),
})


.then(response => {
  if (response.ok) {
    document.getElementById('delete_Order').classList.remove('show');
    document.body.classList.remove('modal-open');
    return response.json();
  } else {

    console.error('Failed to delete product. Status:', response.status, 'Text:', response.statusText);
    throw new Error('Failed to delete product');
  }
})
}


document.addEventListener('DOMContentLoaded', function () {
  function handleStatusChange(statusElement) {
            statusElement.addEventListener('change', function () {
                const selectedStatus = statusElement.value;

                // Check if the selected status is 'Completed'
                if (selectedStatus === 'Completed') {
                    // Show the completedModal
                    $('#completedModal').modal('show');

                    // Reset the status to its previous value (optional)
                    statusElement.value = 'Completed';  // or set it to the previous value
                }
            });
        }

        const statusSelect = document.getElementById('status');
        const editStatusSelect = document.getElementById('edit_status');

        if (statusSelect) {
            handleStatusChange(statusSelect);
        }

        if (editStatusSelect) {
            handleStatusChange(editStatusSelect);
        }
    });
</script>


<script src="{% static 'script.js' %}"></script>
{% load static %} {% endblock %}
