{%extends "base.html" %} {% block title %} Products {% endblock %} 
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<script src="{% static 'script.js' %}"> </script>

<nav>{%include "components/navbar.html" %}</nav>
<div>{%include "components/sidebar.html" %}</div>

<div class="container pt-3">
  <div id="messages" style="display: none">
    {% for msg in messages %}
    <div class="alert alert-success" role="alert">{{ msg }}</div>
    {% endfor %}
  </div>

  <script>
    // Function to display messages for 30 seconds and then hide
    window.onload = function () {
      document.getElementById("messages").style.display = "block";
      setTimeout(function () {
        document.getElementById("messages").style.display = "none";
      }, 10000); // Display the messages for 30 seconds (30000 milliseconds)
    };
  </script>

  <!-- 
  {% for msg in messages %}

      {{ msg }}

    {% endfor %} -->
  <div class="pt-3">
    <hr />
    <div class="d-md-flex d-block pt-3 justify-content-between">
      <div>
        <input
          type="text"
          class="form-control"
          id="table-filter"
          placeholder="Search..."
        />
      </div>
      <div class="text-end pt-md-0 pt-5">
        <button
          class="blue-btn"
          data-bs-toggle="modal"
          data-bs-target="#add_new_product"
          data-bs-whatever="add_new_product"
        >
          Add New Product
        </button>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-12">
        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product Id</th>
                <th scope="col">Category</th>
                <th scope="col">Product</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}

              <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{product.product_id}}</td>
                <td>{{product.category}}</td>
                <td>{{product.product_name}}</td>
                <td>{{product.product_description}}</td>
                <td>
                  <div
                    style="display: flex; align-items: center; margin-left: 35%"
                  >
                    <a
                      href=""
                      data-bs-toggle="modal"
                      data-bs-target="#edit_product"
                      data-bs-whatever="edit_product"
                      data-product-id="{{ product.product_id }}"
                      data-product-name="{{ product.product_name }}"
                      data-product-description="{{ product.product_description }}"
                      ><i
                        class="fa-solid fa-pen-to-square pe-2"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Edit"
                      ></i
                    ></a>

                    <form
                      method="post"
                      action="{% url 'delete_product' product.product_id %}"
                    >
                      {% csrf_token %}
                      <input
                        type="hidden"
                        name="product_id"
                        value="{{ product.product_id }}"
                      />
                      <button
                        style="
                          border: none;
                          background-color: transparent;
                          margin-left: 10px;
                        "
                        type="submit"
                        class="text-danger delete-button"
                        data-bs-toggle="modal"
                        data-bs-target="#delete_product"
                        data-bs-whatever="delete_product"
                      >
                        <i
                          class="fa-solid fa-trash"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Delete"
                        ></i>
                      </button>
                    </form>
                  </div>
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="add_new_product"
  tabindex="-1"
  aria-labelledby="add_new_product"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Products</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'addProduct' %}">
          {% csrf_token %}
          <input
            type="hidden"
            id="category_url"
            value="{% url 'product_category' %}"
          />
          <div class="mb-3">
            <label for="product_category" class="col-form-label"
              >Category:</label
            >
            <div>

              <select
                name="product_category"
                id="category_dropdown"
                class="form-control"
              >
                <option value="">Select a category</option>
                {% for category in categories %}
                <option value="{{ category.category_id }}">{{ category.category }}</option>

                {% endfor%}
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="product_name" class="col-form-label"
              >Product Name:</label
            >
            <input
              type="text"
              class="form-control"
              name="product_name"
              id="product_name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="product_description" class="form-label"
              >Product Description:</label
            >
            <textarea
              class="form-control"
              name="product_description"
              id="product_description"
              placeholder=""
              required
            ></textarea>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="edit_product"
  tabindex="-1"
  aria-labelledby="edit_product"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'editProduct' %}">
          {% csrf_token %}

          <input type="" name="product_id" id="product_id" value="{{ products.product_id }}" />

          <div class="mb-3">
            <label for="new_product_name" class="col-form-label"
              >Product Name:</label
            >
            <input
              type="text"
              class="form-control"
              name="new_product_name"
              id="new_product_name"
            />
          </div>

          <div class="mb-3">
            <label for="new_product_description" class="col-form-label"
              >Product Description:</label
            >
            <input
              type="text"
              class="form-control"
              name="new_product_description"
              id="new_product_description"
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% load static %} 
{% endblock %}
