{%extends "base.html" %} {% block title %} Dashboard {% endblock %} 
{% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />

<style>
  #monthly-table-print,
  #weekly-table-print {
    display: none;
  }
  .plot-container {
        width: 100%;
        height: 100vh;
    }

  
      
  @media print {
    .text-no-wrap {
      white-space: nowrap;
    }
    table.landscape {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh; /* Set width to viewport height to fit content */
      position: absolute;
      top: 0;
      left: 0;
    }
  }
</style>

<nav>{%include "components/navbar.html" %}</nav>
<div>{%include "components/sidebar.html" %}</div>

<div class="d-block" id="main">
  <div class="container pt-3">
    <hr />
    <div>
      <!-- Button to trigger modal -->
      <button
        type="button"
        class="btns"
        data-bs-toggle="modal"
        data-bs-target="#productStatisticsModal"
      >
        Click Here to Select Product
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="productStatisticsModal"
        tabindex="-1"
        aria-labelledby="productStatisticsModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="productStatisticsModalLabel">
                Product Statistics
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form id="productStatisticsForm">
                <div class="d-block justify-content-end">
                  <input
                    type="hidden"
                    id="selectedColumnsInput"
                    name="selected_columns"
                  />

                  <div class="pt-3 pe-3">
                    <select
                      id="categorySelect"
                      name="category"
                      class="form-control"
                    >
                      <option value="">Select Category</option>
                      {% for category in categories %}
                      <option value="{{ category.id }}">
                        {{ category.category }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="pt-3 pe-3">
                    <select
                      id="productSelect"
                      name="product"
                      class="form-control"
                    >
                      <option value="">Select Product</option>
                      {% for product in products %}
                      <option value="{{ product.product_id }}">
                        {{ product.product_name }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="pt-3 pe-3">
                    <label>Select Columns:</label><br />
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="orderQuantityCheckbox"
                        name="column"
                        value="order_quantity"
                      />
                      <label
                        class="form-check-label"
                        for="orderQuantityCheckbox"
                        >Order Quantity</label
                      >
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="completedQuantityCheckbox"
                        name="column"
                        value="completed_quantity"
                      />
                      <label
                        class="form-check-label"
                        for="completedQuantityCheckbox"
                        >Completed Quantity</label
                      >
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="cancelledQuantityCheckbox"
                        name="column"
                        value="cancelled_quantity"
                      />
                      <label
                        class="form-check-label"
                        for="cancelledQuantityCheckbox"
                        >Cancelled Quantity</label
                      >
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="productionQuantityCheckbox"
                        name="column"
                        value="production_quantity"
                      />
                      <label
                        class="form-check-label"
                        for="productionQuantityCheckbox"
                        >Production Quantity</label
                      >
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="allCheckbox"
                        name="column"
                        value="all"
                      />
                      <label class="form-check-label" for="allCheckbox"
                        >All</label
                      >
                    </div>
                  </div>
                  <div class="pt-3 pe-3">
                    <select
                      id="timeIntervalSelect"
                      name="time_interval"
                      class="form-control"
                    >
                      <option value="">Select Time Interval</option>
                      <option value="daily">Daily</option>
                      <option value="weekly">Weekly</option>
                      <option value="monthly">Monthly</option>
                    </select>
                  </div>
                  <div class="pt-3 pe-3">
                    <label for="fromDate">From Date:</label>
                    <input
                      type="date"
                      id="fromDate"
                      name="from_date"
                      class="form-control"
                    />
                  </div>
                  <div class="pt-3 pe-3">
                    <label for="toDate">To Date:</label>
                    <input
                      type="date"
                      id="toDate"
                      name="to_date"
                      class="form-control"
                    />
                  </div>
                  <div class="pt-3">
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="hiding">
      {% if totals_products %}
      <div class="pt-3">
        <div class="row">
          <div class="col-lg-12">
            <div class="p-3" style="background-color: #E5ECF6;">

              <div  class="fs-3 text-blue pe-2"> {{product_name }}</div> 
              <div class="d-lg-flex d-block align-items-center pt-3">
              <div  class="fs-5 text-blue pe-2"> Columns Selected: </div> 
            {% for col in selected_columns %}
              {% if col == 'order_quantity' %}
              <div class="pe-2">Order Quantity</div>
              {% endif %}
              {% if col == 'completed_quantity' %}
              <div class="pe-2"> Completed Quantity</div>
              {% endif %}
              {% if col == 'cancelled_quantity' %}
              <div class="pe-2"> Cancelled Quantity</div>
              {% endif %}
              {% if col == 'production_quantity' %}
              <div> Production Quantity</div>
              {% endif %}
            {% endfor %}
            </div>
            <div class="pt-3 d-md-flex d-block align-items-center">
              <div  class="fs-5 text-blue pe-2"> Time Interval Type: </div> 
              <div class="capitalize">{{ frequency|capfirst }} </div> 
            </div>
          </div>

        </div>
   
        
        
      <div class="pt-3">
        
        <div class="fs-4 text-blue">Total Quantities</div>
        <div class="row">

        
        <div class="col-lg-3 col-sm-6 pt-3">
          <div class="card" style="background-color: #E5ECF6;">
            <div class="card-body">
              <div class="fs-3 text-center">Total Order Quantity:</div>
              <hr />
              <div class="order_num text-center fs-4">{{ totals_products.total_order_quantity }}</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 pt-3">
          <div class="card" style="background-color: #E5ECF6;">
            <div class="card-body">
              <div class="fs-3 text-center">Total Completed Quantity:</div>
              <hr />
              <div class="order_num text-center fs-4">{{ totals_products.total_completed_quantity }}</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 pt-3">
          <div class="card" style="background-color: #E5ECF6;">
            <div class="card-body">
              <div class="fs-3 text-center">Total Cancelled Quantity:</div>
              <hr />
              <div class="order_num text-center fs-4">{{ totals_products.total_cancelled_quantity }}</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 pt-3">
          <div class="card" style="background-color: #E5ECF6;">
            <div class="card-body">
              <div class="fs-3 text-center">Total Production Quantity:</div>
              <hr />
              <div class="order_num text-center fs-4">{{ totals_products.total_production_quantity }}</div>
            </div>
          </div>
        </div>
        
      </div>
        {% endif %}
      </div>

      <div class="pt-3">
        
        <div class="card card-body daily-statistics" {% if frequency != 'daily' %} style="display: none;" {% endif %}>
          <div class="fs-4 text-blue">Daily Statistics</div>
          <ul>
            <div id="plot_div" class="plot-container"></div>>{{ plot_div | safe }}</div>
          </ul>
        </div>

        <div class="card card-body weekly-statistics mt-3" {% if frequency != 'weekly' %} style="display: none;" {% endif %}>
          <div class="d-md-flex d-block justify-content-between align-items-center">
            <div class="fs-4 text-blue">Weekly Statistics</div>
          <div class="text-end pt-md-0 pt-3">
            <button id="weekly-print-button" class="btns ">
              <span class="pe-2"><i class="fa-solid fa-download"></i></span> Download Weekly Data
            </button>
            <div class="text-muted">Click the button to get weekly data in tabular format.</div>
          </div>

          </div>
          
          <table id="weekly-table-print">
            <thead>
              <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Week</th>
                {% if 'order_quantity' in selected_columns %}
                <th>Total Order Quantity</th>
                <th>Average Order Quantity</th>
                {% endif %} {% if 'completed_quantity' in selected_columns %}
                <th>Total Completed Quantity</th>
                <th>Average Completed Quantity</th>
                {% endif %} {% if 'production_quantity' in selected_columns %}
                <th>Total Production Quantity</th>
                <th>Average Production Quantity</th>
                {% endif %} {% if 'cancelled_quantity' in selected_columns %}
                <th>Total Cancelled Quantity</th>
                <th>Average Cancelled Quantity</th>
                {% endif %} 
              </tr>
            </thead>
            <tbody>
              {% for stat in weekly_stats %}
              <tr>
                <td>{{ stat.start_date|date:"Y-m-d" }}</td>
                <td>{{ stat.end_date|date:"Y-m-d" }}</td>
                <td>{{ stat.week }}</td>
                {% if 'order_quantity' in selected_columns %}
                <td>{{ stat.total_order_quantity }}</td>
                <td>{{ stat.average_order_quantity }}</td>
                {% endif %} {% if 'completed_quantity' in selected_columns %}
                <td>{{ stat.total_completed_quantity }}</td>
                <td>{{ stat.average_completed_quantity }}</td>
                {% endif %} {% if 'production_quantity' in selected_columns %}
                <td>{{ stat.total_production_quantity }}</td>
                <td>{{ stat.average_production_quantity }}</td>
                {% endif %} {% if 'cancelled_quantity' in selected_columns %}
                <td>{{ stat.total_cancelled_quantity }}</td>
                <td>{{ stat.average_cancelled_quantity }}</td>
                {% endif %} 
              </tr>
              {% endfor %}
            </tbody>
          </table>
          
          <div id="weekly-chart" class="pt-3 plotly-graph-div"><div class="text_weekly">{{ plot_div_weekly | safe }}</div></div>
          
        </div>
  
        
        <div class="card card-body monthly-statistics mt-3" {% if frequency != 'monthly' %} style="display: none;" {% endif %}>
          <div class="d-md-flex d-block justify-content-between align-items-center">
            <div class="fs-4 text-blue">Monthly Statistics</div>
          <div class="text-end pt-md-0 pt-3">
            <button id="monthly-print-button" class="btns ">
              <span class="pe-2"><i class="fa-solid fa-download"></i></span> Download Monthly Data
            </button>
            <div class="text-muted">Click the button to get monthly data in tabular format.</div>
          </div>

          </div>

          <table id="monthly-table-print" class="landscape">
            <thead>
              <tr>
                <th>Date Start</th>
                <th>Date End</th>
                {% if 'order_quantity' in selected_columns %}
                <th>Total Order Quantity</th>
                <th>Average Order Quantity</th>
                {% endif %} {% if 'completed_quantity' in selected_columns %}
                <th>Total Completed Quantity</th>
                <th>Average Completed Quantity</th>
                {% endif %} {% if 'production_quantity' in selected_columns %}
                <th>Total Production Quantity</th>
                <th>Average Production Quantity</th>
                {% endif %} {% if 'cancelled_quantity' in selected_columns %}
                <th>Total Cancelled Quantity</th>
                <th>Average Cancelled Quantity</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for result in monthly_stats %}
              <tr>
                <td class="text-no-wrap">
                  {{ result.start_date|date:"Y-m-d" }}
                </td>
                <td class="text-no-wrap">{{ result.end_date|date:"Y-m-d" }}</td>
                {% if 'order_quantity' in selected_columns %}
                <td>{{ result.total_order_quantity }}</td>
                <td>{{ result.average_order_quantity }}</td>
                {% endif %} {% if 'completed_quantity' in selected_columns %}
                <td>{{ result.total_completed_quantity }}</td>
                <td>{{ result.average_completed_quantity }}</td>
                {% endif %} {% if 'production_quantity' in selected_columns %}
                <td>{{ result.total_production_quantity }}</td>
                <td>{{ result.average_production_quantity }}</td>
                {% endif %} {% if 'cancelled_quantity' in selected_columns %}
                <td>{{ result.total_cancelled_quantity }}</td>
                <td>{{ result.average_cancelled_quantity }}</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- <button id="monthly-print-button" class="btns">
            Print Monthly Data
          </button> -->

          <div id="monthly-chart">{{ plot_div_monthly | safe }}</div>
        </div>
      </div>
    </div>
      </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  // Event listener for time interval select change
  document
    .getElementById("timeIntervalSelect")
    .addEventListener("change", function () {
      var selectedInterval = this.value;
      showSelectedStatisticDiv(selectedInterval);
    });

  document
    .getElementById("monthly-print-button")
    .addEventListener("click", function () {
      // Hide everything else on the page
      var originalContent = document.body.innerHTML;
      document.body.innerHTML = document.querySelector(
        "#monthly-table-print"
      ).outerHTML;

      // Trigger the print functionality
      window.print();

      // Restore the original content after a delay to ensure printing has started
      setTimeout(function () {
        document.body.innerHTML = originalContent;
      }, 100);
    });

  document
    .getElementById("weekly-print-button")
    .addEventListener("click", function () {
      // Hide everything else on the page
      var originalContent = document.body.innerHTML;
      document.body.innerHTML = document.querySelector(
        "#weekly-table-print"
      ).outerHTML;

      // Trigger the print functionality
      window.print();

      // Restore the original content after a delay to ensure printing has started
      setTimeout(function () {
        document.body.innerHTML = originalContent;
      }, 100);
    });

  var selected_columns = [];

  // Add event listeners to each checkbox
  document
    .querySelectorAll('input[name="column"]')
    .forEach(function (checkbox) {
      checkbox.addEventListener("change", function () {
        // Clear the selected_columns list
        var selected_columns = [];

        // Check which checkboxes are checked and add corresponding column values to the list
        if (document.getElementById("orderQuantityCheckbox").checked) {
          selected_columns.push("order_quantity");
        }
        if (document.getElementById("completedQuantityCheckbox").checked) {
          selected_columns.push("completed_quantity");
        }
        if (document.getElementById("cancelledQuantityCheckbox").checked) {
          selected_columns.push("cancelled_quantity");
        }
        if (document.getElementById("productionQuantityCheckbox").checked) {
          selected_columns.push("production_quantity");
        }
        if (document.getElementById("allCheckbox").checked) {
          selected_columns = [
            "order_quantity",
            "completed_quantity",
            "cancelled_quantity",
            "production_quantity",
          ];
        }

        // Set the value of the hidden input field
        document.getElementById("selectedColumnsInput").value =
          selected_columns.join(",");

        console.log(selected_columns);
      });
    });

  document.addEventListener("DOMContentLoaded", function () {
    var toDateInput = document.getElementById("toDate");
    var today = new Date().toISOString().split("T")[0];
    toDateInput.value = today;
  });

  document
    .getElementById("categorySelect")
    .addEventListener("change", function () {
      var categoryId = this.value;
      if (categoryId) {
        fetchProducts(categoryId);
      } else {
        resetProductSelect();
      }
    });

  function fetchProducts(categoryId) {
    fetch("/get-products/?category=" + categoryId)
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.json();
      })
      .then((data) => {
        var productSelect = document.getElementById("productSelect");
        productSelect.innerHTML = '<option value="">Select Product</option>';
        data.forEach((product) => {
          var option = document.createElement("option");
          option.value = product.product_id;
          option.text = product.product_name;
          productSelect.appendChild(option);
        });
      })
      .catch((error) => {
        console.error("Error fetching products:", error);
        // Handle the error gracefully, such as displaying an error message to the user
      });
  }

  function resetProductSelect() {
    var productSelect = document.getElementById("productSelect");
    productSelect.innerHTML = '<option value="">Select Product</option>';
  }

  //  document.getElementById('categorySelect').addEventListener('change', function() {
  //             var categoryId = this.value;
  //             console.log("test", categoryId);
  //             if (categoryId) {
  //                 fetchProducts(categoryId);
  //             } else {
  //                 resetProductSelect();
  //             }
  //         });

  //         function fetchProducts(categoryId) {
  //     fetch('/get-products/?category=' + categoryId)
  //         .then(response => {
  //             if (!response.ok) {
  //                 throw new Error('Network response was not ok');
  //             }
  //             return response.json();
  //         })
  //         .then(data => {
  //             var productSelect = document.getElementById('productSelect');
  //             productSelect.innerHTML = '<option value="">Select Product</option>';
  //             data.forEach(product => {
  //                 var option = document.createElement('option');
  //                 option.value = product.product_id;
  //                 option.text = product.product_name;
  //                 productSelect.appendChild(option);
  //             });
  //         })
  //         .catch(error => {
  //             console.error('Error fetching products:', error);
  //             // Handle the error gracefully, such as displaying an error message to the user
  //         });
  // }

  //         function resetProductSelect() {
  //             var productSelect = document.getElementById('productSelect');
  //             productSelect.innerHTML = '<option value="">Select Product</option>';
  //         }
</script>

{% load static %} {% endblock %}
