{%extends "base.html" %}

{% block title %} Dashboard {% endblock %}
{% block content %}
<nav>
    {%include "components/navbar.html" %}
</nav>
<div>
    {%include "components/sidebar.html" %}
</div>


<div class="container pt-3">

   

   <div class="pt-3">
      
        <div class="text-end ">
            <!-- <a href="{%url 'addnewproduct' %}"> -->

                <button class="blue-btn" data-bs-toggle="modal" data-bs-target="#add_new_product" data-bs-whatever="add_new_product">Add New Product</button>

        </div>    
    <hr>

    <div class="row pt-3">
        <div class="col-lg-3 col-md-4 col-6">
            <div class="card">
                <img src="https://images.pexels.com/photos/18377912/pexels-photo-18377912/free-photo-of-colorful-tent-on-hill.jpeg?auto=compress&cs=tinysrgb&w=1600" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold text-center">Product 1</h5>
                  <div class="text-center products_detail">
                    <a href="#" >Details</a>
                  </div>
                  <div class="products_card_icons">

                  </div>
                  <!-- <div class="products_card_icons">
                    <div>
                        <a href=""  data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa-solid fa-pen-to-square pe-2"></i></a>
                    </div>
                    <div>
                        <a href="" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa-solid fa-trash"></i></a>
                    </div>
                  </div> -->
                </div>
              </div>
        </div>
    </div>
   </div>
    
   
</div>


<div class="modal fade " id="add_new_product" tabindex="-1" aria-labelledby="add_new_product" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Products</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
           

            <div class="mb-3">
                <label for="product_name" class="col-form-label">Product Name:</label>
                <input type="text" class="form-control" id="product_name" required>
              </div>
              <div class="mb-3">
                <label for="product_description" class="form-label">Product Description:</label>
                <textarea class="form-control " id="product_description" placeholder="" required></textarea>
               
              </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Add Category</button>
        </div>
      </div>
    </div>
  </div>



{% endblock %}