{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />

<div class="collapse" id="filterform">
  <form id="filterForm" action="{% url 'orderFilter' %}" method="Post">
    {% csrf_token %}


  <div class="d-lg-flex d-block justify-content-between pt-3">
    <div class=" d-block w-100">

      <div class="d-md-flex d-block justify-content-between align-items-center">
        

                
        <div class="pb-3 pe-3 w-100">
            <select id="categorySelect_order_filter" name="category" class="form-control">
                <option value="">Select Category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.category }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="pb-3 pe-3 w-100">
            <select id="productSelect_order_filter" name="product" class="form-control">
                <option value="">Select Product</option>
                {% for product in products %}
                    <option value="{{ product.product_id }}">{{ product.product_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="pb-3 pe-3 w-100">
          <select name="basedon" id="basedon" class="form-control">
            <option value="ordered_date">Ordered Date</option>
            <option value="delivery_date">Delivery Date</option>
            <option value="completed_date">Completed Date</option>
            <option value="completed_date">Cancelled Date</option>
          </select>
        </div>
        <div class="mb-3 d-flex align-items-center w-100">
          <select class="form-control" name="status" id="status_order_filter">
            <option value="">Select Status</option>
            <option value="Ongoing">Ongoing</option>
            <option value="Pending">Pending</option>
            <option value="Completed">Completed</option>
            <option value="Cancelled">Cancelled</option>
  
          </select>
        </div>
        
        
    </div>


    <div>

    </div>
    <div class="d-md-flex d-block justify-content-start align-items-center">
      <div class="mb-3 d-flex ps-2">
        <div>
          <label for="from-date" class="col-form-label">From:</label>
        </div>

        <div class="ps-2">
          <input
            type="date"
            class="form-control"
            name="from-date"
            id="from-date"
          />
        </div>
      </div>

      <div class="mb-3 d-flex ps-3">
        <div>
          <label for="to-date" class="col-form-label">To:</label>
        </div>

        <div class="ps-2">
          <input
            type="date"
            class="form-control"
            name="to-date"
            id="to-date"
          />
        </div>
      </div>

    </div>
      

      
      

      <div class="d-flex  justify-content-start align-items-center pb-3">
        <div class="pe-2">
          <input
            type="number"
            class="form-control"
            name="max-price"
            id="max-price"
            placeholder="Max Price"
          />
        </div>
        <div class="pe-2">-</div>

        <div class="">
          <input
            type="number"
            class="form-control"
            name="min-price"
            id="min-date"
            placeholder="Min Price"
          />
        </div>
      </div>

      <div class="d-flex  justify-content-start align-items-center pb-3">
        <div class="pe-2">
          <input
            type="number"
            class="form-control"
            name="max-quantity"
            id="max-quantity"
            placeholder="Max Quantity"
          />
        </div>
        <div class="pe-2">-</div>

        <div class="">
          <input
            type="number"
            class="form-control"
            name="min-quantity"
            id="min-quantity"
            placeholder="Min Quantity"
          />
        </div>
      </div>
     
    </div>
  </div>

  <div class="ps-3 mb-3 text-end">
    <a href="">
      <button type="submit" class="blue-btn">Apply</button>
    </a>
  </div>
  </form>
</div>
<script>
 $(document).ready(function() {
    $('#categorySelect_order_filter').change(function() {
        var category_id = $(this).val();
        fetchProducts(category_id);
    });

    function fetchProducts(category_id) {
        $.ajax({
            type: "GET",
            url: "{% url 'get_products' %}",
            data: {'category': category_id},  // Send the category ID parameter
            success: function(data) {
                updateProductDropdown(data);
            }
        });
    }

    function updateProductDropdown(data) {
        var productOptions = '<option value="">Select Product</option>';
        for (var i = 0; i < data.length; i++) {
            productOptions += `<option value="${data[i].product_id}">${data[i].product_name}</option>`;
        }
        $('#productSelect_order_filter').html(productOptions);
    }
});

</script>
