{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<div>
    <div class="navbar" style="background-color: #1d2951;">
        <div class="container text-white">
            <div>
                <h3>OFS</h3>
            </div>
            <div>
                {% if user.is_authenticated %}
                    <i class="fa-solid fa-caret-down" style="color: #ffffff;"></i>
                    <a class="logout" href="{% url 'logout' %}" class="btn_login">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>