{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
<style>
  .sidebar {
    display: block;
  }

  @media screen and (max-width: 993px) {
    .sidebar {
      display: block;
    }
  }
  .sidebar-toggle-btn {
    display: none;
  }

  @media screen and (max-width: 992px) {
    .sidebar-toggle-btn {
      display: block;
    }
  }

  
  .sidebar_dropdown .sidebar_dropdown-menu{
    display: none;
  }

  .sidebar_dropdown:hover .sidebar_dropdown-menu{
    display: block;
  }
  
</style>

<script>
  function toggleSidebar() {
    var sidebar = document.querySelector(".sidebar");
    if (sidebar.style.display === "block") {
      sidebar.style.display = "none";
    } else {
      sidebar.style.display = "block";
    }
    sidebar.classList.toggle("active");
  }
  
</script>

<div class="sidebar">
  <ul>
    <li class="">
      <a href="{% url 'dashboard'%}">
        <span class="icon"><i class="fa-solid fa-list"></i></span>
        <span class="text">Dashboard</span>
      </a>
    </li>

    <li class="">
      <a href="{% url 'category'%}">
        <span class="icon"><i class="fa-solid fa-table-cells-large"></i></span>
        <span class="text">Category</span>
      </a>
    </li>

    <li>
      <a href="{% url 'products' %}">
        <span class="icon"><i class="fa-solid fa-box"></i></span>
        <span class="text">Products</span>
      </a>
    </li>

    <!-- <li>
      <a href="{%url 'orders' %}">
        <span class="icon"><i class="fa-solid fa-list-check"></i></span>
        <span class="text">Orders</span>
      </a>
    </li> -->

    <li class="sidebar_dropdown">
      <a href="#" class="d-flex align-items-center">
        <span class="icon"><i class="fa-solid fa-list-check"></i></span>
        <span class="text">Orders</span>
        <span class="ps-3 text-white"><i class="fa-solid fa-chevron-down"></i></span>
      </a>
      <!-- <ul class="sidebar_dropdown-menu">
        <a href="">Pending Orders</a>
        <a href="">Completed Orders</a>
      </ul> -->
    </li>
    
   

    <li>
      <a href="{% url 'inventory' %}">
        <span class="icon"><i class="fa-solid fa-warehouse"></i></span>
        <span class="text">Inventory</span>
      </a>
    </li>
  </ul>
</div>
