{%extends "base.html" %} {% block title %} Dashboard {% endblock %} 
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />

<nav>{%include "components/navbar.html" %}</nav>
<div>{%include "components/sidebar.html" %}</div>
<div>
<div id="messages" style="display: none">
  {% for msg in messages %}
  <div class="alert alert-success" role="alert">{{ msg }}</div>
  {% endfor %}
</div>

<div class="d-flex" id="main">
  <div class=" container pt-3">
    <div class="text-blue fs-3">Dashboard</div>
    <hr />
    <div class="row">
      <div class="col-lg-3 col-sm-6 pt-3">
        <div class="card" style="background-color: #E5ECF6; ">
          <div class="card-body">
            <div class="fs-3 text-center">Pending Orders</div>
            <hr />
            <div class="order_num text-center fs-4">{{ pending_orders }}</div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-sm-6 pt-3">
        <div class="card" style="background-color: #E5ECF6;">
          <div class="card-body">
            <div class="fs-3 text-center">Ongoing Orders</div>
            <hr />
            <div class="order_num text-center fs-4">{{ ongoing_orders }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 pt-3">
        <div class="card" style="background-color: #E5ECF6;">
          <div class="card-body">
            <div class="fs-3 text-center">Completed Orders</div>
            <hr />
            <div class="order_num text-center fs-4">{{ completed_orders }}</div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-sm-6 pt-3">
        <div class="card">
          <div class="card-body" style="background-color: #E5ECF6;">
            <div class="fs-3 text-center">Total Orders</div>
            <hr />
            <div class="order_num text-center fs-4">{{ total_orders }}</div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row pt-5">
      <div class="col-lg-6 col-12">
        <div class="card">
          <div class="card-body">
            <p>Highest Ordered Product Name : {{ highest_order_product }}</p>
            <p>Lowest Ordered Product Name : {{ lowest_order_product }}</p>
            <p>Highest Production Product Name : {{ highest_production_product }}</p>
            <p>Lowest Production Product Name : {{ lowest_production_product }}</p>
      
            <div>
              <div>
                <!-- {{ monthlyChartDiv|safe }} -->
                <!-- <canvas id="myChart" style="width:100%;max-width:700px"></canvas> -->
                

              </div>
          </div>

            
          </div>
        </div>
      </div>
  
      <div class="col-lg-6 col-12 pt-lg-0 pt-3">
        <div class="card">
          
          {{ bar_graph_html | safe }}
        </div>
        
        
      </div>
    </div>
  
    <div class="row pt-5">
      <div class="card">
          <div class="card-body">
            <div class="card-title fs-5">Daily Prediction</div>
            
              <form method="GET" id="filter-form" action="{% url 'dashboard' %}">
                <div class="d-flex">
                <div class="py-3">
   
                <select name="product" id="product_dashboard" class="form-control pe-2">
                    <option value="" >Select Product</option>
                    {% for product in products %}
                        <option value="{{ product.product_id }}" >{{ product.product_name }}</option>
                    {% endfor %}
                </select>
                </div>
              
                  

                </div>
                
                <button type="submit" class="btns">Apply</button>
            </form>
            
                <div>{{ sarimax_chart_html|safe }}</div>
                <div>{{ arimax_chart_html|safe }}</div>
    
    </div>
  </div>
    </div>

    
  </div>
</div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.getElementById("category_dashboard").addEventListener("change", function() {
    var categoryId = this.value;
    if (categoryId) {
        console.log(categoryId)
        fetchProducts(categoryId);
    } else {
        resetProductSelect();
    }
});

function fetchProducts(categoryId) {
    fetch("/update_product_dropdown/?category=" + categoryId)
        .then(response => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            return response.json();
        })
        .then(data => {
            console.log("Response data:", data); // Log the response data
            var productSelect = document.getElementById("product_dashboard");
            productSelect.innerHTML = '<option value="">Select Product</option>';
            // Ensure data is an array before using forEach
            if (Array.isArray(data)) {
                data.forEach(product => {
                    var option = document.createElement("option");
                    option.value = product.product_id;
                    option.text = product.product_name;
                    productSelect.appendChild(option);
                });
            } else {
                console.error("Data is not an array:", data);
            }
        })
        .catch(error => {
            console.error("Error fetching products:", error);
            // Handle the error gracefully, such as displaying an error message to the user
        });
}

function resetProductSelect() {
    var productSelect = document.getElementById("productSelect");
    productSelect.innerHTML = '<option value="">Select Product</option>';
}


// document.addEventListener('DOMContentLoaded', function() {
//     // Add event listener to the dropdown
//     document.getElementById('category_dashboard').addEventListener('change', function() {
//         // Retrieve the selected option
//         var selectedOption = this.options[this.selectedIndex];
        
//         // Check if an option is selected
//         if (selectedOption) {
//             // Get the value (category ID or name)
//             var selectedValue = selectedOption.value;
            
//             // Print the selected value (you can replace this with any action you want)
//             console.log('Selected Category:', selectedValue);
//         }
//     });
// });


var xyValues = [
  {x:50, y:7},
  {x:60, y:8},
  {x:70, y:8},
  {x:80, y:9},
  {x:90, y:9},
  {x:100, y:9},
  {x:110, y:10},
  {x:120, y:11},
  {x:130, y:14},
  {x:140, y:14},
  {x:150, y:15}
];

new Chart("myChart", {
  type: "scatter",
  data: {
    datasets: [{
      pointRadius: 4,
      pointBackgroundColor: "rgb(0,0,255)",
      data: xyValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      xAxes: [{ticks: {min: 40, max:160}}],
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
});




</script>

{% load static %} {% endblock %}
