{%extends "base.html" %} {% block title %} Dashboard {% endblock %} 
{% block content %}
<nav>{%include "components/navbar.html" %}</nav>
<div>{%include "components/sidebar.html" %}</div>

<div id="messages" style="display: none">
  {% for msg in messages %}
  <div class="alert alert-success" role="alert">{{ msg }}</div>
  {% endfor %}
</div>

<div class="main container pt-3">
  <hr />
  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="card">
        <div class="card-body">
          <div class="fs-3 text-center">Pending Orders</div>
          <hr />
          <div class="order_num text-center fs-4">{{ pendingOrder }}</div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="card">
        <div class="card-body">
          <div class="fs-3 text-center">Ongoing Orders</div>
          <hr />
          <div class="order_num text-center fs-4">{{ ongoingOrder }}</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="card">
        <div class="card-body">
          <div class="fs-3 text-center">Completed Orders</div>
          <hr />
          <div class="order_num text-center fs-4">{{ completedOrder }}</div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="card">
        <div class="card-body">
          <div class="fs-3 text-center">Total Orders</div>
          <hr />
          <div class="order_num text-center fs-4">{{ totalOrder }}</div>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br /><br />
  <div class="row pt-5">
    <div class="col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title fs-5">Monthly Prediction</div>
          <div>
            <h2>ARIMA Forecast</h2>
            <p>{{ results.arima_forecast }}</p>
          </div>

          <div>
            <h2>SARIMAX Forecast</h2>
            <p>{{ results.sarimax_forecast }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-12">
      
    </div>
  </div>

  <div class="row pt-5">
    <div class="card">
        <div class="card-body">
          <div class="card-title fs-5">Daily Prediction</div>
          <div>{{ sarimax_chart_html|safe }}</div>
          <form method="get" action="{% url 'dashboard' %}">
            <label for="forecast_steps">Number of Forecast Steps:</label>
            <input type="number" name="forecast_steps" value="6" min="1" max="100">
            <input type="submit" value="Update Forecast">
        </form>
        </div>
      </div>
  </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% load static %} {% endblock %}
